/* custom properties */

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);

    --ff-body: 'Outfit', sans-serif;

    --fs-400: 15px;

    --fw-400: 400;
    --fw-700: 700;
}

/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    color: var(--clr-grayish-blue);
    max-width: 1440px;
    min-width: 100%;
    
    position: relative;
}

.container {
    background: var(--clr-light-gray);
    height: 100vh;
}

.element {
    width: 22%;
    text-align: center;
    background: var(--clr-white);
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 50% -50%;
    border-radius: 1rem;
    padding: 1rem;
}

.my-image {
    border-radius: 8px;
}

.element h1 {
    font-size: 1.3rem;
    color: var(--clr-dark-blue);
    margin: 1rem 0;
}

.element p {
    margin-bottom: 1rem;
}

